{% extends 'base.html.twig' %}

{% block body %}
    <main class="pt-5 mx-lg-5">
        <div class="container-fluid">

            <div id="myDIV" class="header_tsk">
                <h2>Список задач</h2>
                <input type="text" id="myInput" placeholder="Задача....">
                <span onclick="newElement()" class="addBtn">Добавить</span>
            </div>

            <ul id="myUL">
                {% for task in app.user.tasks %}
                    <li data-id="{{ task.id }}" class="{{ task.isChecked ? "checked" : "" }}">{{ task.text }}</li>
                {% endfor %}
            </ul>

        </div>
        <!-- /.First row-->
    </main>
{% endblock %}

{% block javascripts %}
    {% include('/task/js/js-list.html.twig') %}
{% endblock %}